@font-face {
    font-family: Helvetica Neue;
    src: url(/fonts/HelveticaNeueB.ttf)
}

@font-face {
    font-family: Big Caslon;
    src: url(/fonts/big-caslon.ttf)
}

@font-face {
    font-family: Droid;
    src: url(/fonts/Droid-Arabic-Kufi-Regular.ttf)
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Noto Color Emoji";
    --font-family-slogan: "Big Caslon";
    --font-family-Droid: "Droid", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
